body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #007BFF;
}

header p {
    font-size: 16px;
}

#mapSection {
    width: 100%;
    padding: 0;
}

#mapContainer {
    width: 100vw;
    height: 60vh; 
}

#infoSection {
    padding: 20px;
    background-color: #fff;
    color: #333;
}

#infoSection h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

#infoSection p {
    font-size: 16px;
    line-height: 1.6;
}

#infoSection h3 {
    font-size: 20px;
    margin-top: 20px;
}

#infoSection ul {
    padding-left: 20px;
}

#infoSection ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.custom-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #333;
}

.popup-content img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.popup-content p {
    margin: 0;
    font-size: 12px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    overflow: hidden; 
}


.leaflet-control {
    z-index: 2000;
}


.modal-content {
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal-content p {
    margin: 0;
    font-size: 16px;
    text-align: left; 
}

.image-wrapper {
    position: relative; 
}

.modal-content img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
}
 
.modal-navigation {
    position: absolute;
    top: 50%; 
    left: 0; 
    right: 0;
    display: flex; 
    justify-content: space-between; 
    transform: translateY(-50%);
    z-index: 1; 
}

.modal-button {
    background: rgba(255, 255, 255, 0.2); 
    border: none;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    pointer-events: auto; 
    transition: background-color 0.3s;
}

.modal-button:hover {
    background: rgba(255, 255, 255, 0.5); 
}

.modal-close {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.modal-description {
    max-height: 300px; 
    overflow-y: auto;
    margin-top: 10px; 
}

#dotsContainer {
    text-align: center; 
    margin: 10px 0; 
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px; 
    background-color: #bbb;
    border-radius: 50%; 
    display: inline-block; 
    cursor: pointer; 
}

.dot.active {
    background-color: #717171; 
}

.leaflet-control-attribution {
    position: fixed; 
    bottom: 10px;    
    right: 10px;    
    background: white; 
    padding: 5px;    
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    z-index: 1000; 
}


@media (min-width: 600px) {
    header h1 {
        font-size: 30px;
    }

    header p {
        font-size: 18px;
    }

    #mapContainer {
        height: 70vh; 
    }

    #infoSection {
        padding: 30px;
    }

    #infoSection h2 {
        font-size: 26px;
    }

    #infoSection p {
        font-size: 18px;
    }

    footer p {
        font-size: 16px;
    }

    .modal-content {
        top: 40%; 
    }
}

@media (min-width: 1024px) {
    #mapContainer {
        height: 80vh;
    }

    footer p {
        font-size: 18px;
    }

    .modal-content {
        top: 30%; 
        margin-top: 100px;
    }
}
