* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgrey;
    font-family: Arial, sans-serif;
}



.parallax {
    background-image: url('placeholder-image.jpg');
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

#menu {
    float: left;
    width: 20%;
  }

#main {
    width: 60%;
    
    overflow: hidden;
  }

#footer {
    width: 60;
}

#button{
    font-size: 40px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media only screen and (max-width:500px) {
    #menu, #main, #footer, #button {
      width: 100%;
    }
  }
  
